node_modules
.next
.env
.env.development
.env.test
.env.production
.env.local
.env.docker
.env.docker.dev
*.db
*.db-journal
prisma/dev.db
npm-debug.log*
.DS_Store
*.tsbuildinfo
backups/
backup_upa_*.sql
*.zip